.example-card {
  width: 96%;
  height: 96%;
  margin: 1%;
}


.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.activos{
  color: green;
  margin: 0;
  font-weight: bold;
  font-size: 1.3rem;
}
.inactivos{
  color: red;
  margin: 0;
  font-weight: bold;
  font-size: 1.3rem;
}
