.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

p{
  color:white;
  font-family: 'Righteous', cursive;
  margin: 0 8px;
}

a{
  color:white;
  cursor: pointer;
  margin: 0 8px;
  text-decoration: none;
  
  &:hover{
    color:#ff741d;
  }

  &:last-child{
    background-color: #ff741d;
    color:white;
    padding: 16px;
  }

  &:last-child:hover{
    color:white;
    cursor: pointer;
  }
}

.active{
  color:#ff741d;
}
