.seg-login{
  display: flex;
  align-items: center;
  height: 100%;
  align-content: center;
  justify-content: center;

  &-card{
    background-color: #eaeaea;
    height: 50%;
    width: 50%;
  }

  &--fieldFullWidth{
    width: 100%;
    font-size: large;
  }

  &-header{
    justify-content: space-around;
    align-items: center;

    &-title{
      font-size: 4.5rem!important;
      font-family: 'Righteous', cursive;
    }
  }
  &-actions{
    display: flex !important;
    justify-content: center;
  }

  .button-login{
    font-size: 1.3rem;
    width: 20%;
    height: 2.5rem;
    font-family: 'Righteous', cursive;
    color:white;
    background-color: black;
  }
  
  .button-register{
    font-size: 1.3rem;
    width: 20%;
    height: 2.5rem;
    font-family: 'Righteous', cursive;
    color:white;
    background-color: #ff741d;
  }


}
