<h1 mat-dialog-title>Registro</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field class="seg-login--fieldFullWidth">
      <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
    </mat-form-field>
    <mat-form-field class="seg-login--fieldFullWidth">
      <input matInput placeholder="Contraseña" [(ngModel)]="password" type="password" name="password" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="register(email, password)">Registrar</button>
</div>
